@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .commonWidth {
    @apply lg:mx-auto lg:w-3/4 xl:w-2/3;
  }
}

/* Background */
.background-all {
  background-image: linear-gradient(
      rgba(34, 27, 131, 0.522),
      rgba(255, 255, 255, 0.8)
    ),
    url(../public/images/for-design/svg1.svg);
  /* background-position: center; */
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

/* Mobile Menu */
.mobileMenu {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #fff;
  position: relative;
  padding: 2px 0;
}

.mobileMenuCross {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #fff;
  position: relative;
  transform: rotate(45deg);
}

.mobileMenuCross::after {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  display: block;
  transform: rotate(90deg);
}

.mobileMenu::before {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  display: block;
  top: -0.5rem;
}

.mobileMenu::after {
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  background-color: inherit;
  display: block;
  top: 0.5rem;
}

/* Slider */
.swiper-button-prev {
  color: #fff !important;
  font-weight: bold;
}
.swiper-button-next {
  color: #fff !important;
  font-weight: bold;
}
.swiper-pagination-bullet {
  height: 0.5rem !important;
  width: 0.5rem !important;
}
