.background {
  background-image: linear-gradient(
      rgba(50, 100, 238, 0.75),
      rgba(255, 255, 255, 0.8)
    ),
    url(../public/images/for-design/svg1.svg);
  /* background-position: center; */
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

.slideCustomize {
  @media only screen and (min-width: 1024px) {
    height: 40rem;
  }
}
